.navbar {
  width: 100%;
  height: 60px;
  background-color: #83b692;
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.left {
  flex: 0.7;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;

  .name {
    font-size: 40px;
    color: white;
    margin-right: 20px;
    font-family: "Proza Libre", sans-serif;
    font-weight: lighter;
  }
}

.right {
  flex: 0.3;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

.icons {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.signup {
  font-size: 16px;
  display: flex;
  align-items: center;
}
