.product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.store-menu {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}
